## Simple example of Logistic Regression

In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt
%matplotlib inline

### Loading dataset

In [3]:
dataset = pd.read_csv('../../../Data/anes_dataset.csv')
dataset.head()

   popul  TVnews  selfLR  ClinLR  DoleLR  PID  age  educ  income  vote
0      0       7       7       1       6    6   36     3       1     1
1    190       1       3       3       5    1   20     4       1     0
2     31       7       2       2       6    1   24     6       1     0
3     83       4       3       4       5    1   28     6       1     0
4    640       7       5       6       4    0   68     6       1     0

In [4]:
dataset.shape

(944, 10)

In [5]:
dataset.columns.values

array(['popul', 'TVnews', 'selfLR', 'ClinLR', 'DoleLR', 'PID', 'age',
       'educ', 'income', 'vote'], dtype=object)

### Basic Stats

In [11]:
dataset.describe()

,popul,TVnews,selfLR,ClinLR,DoleLR,PID,age,educ,income,vote
count,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000
mean,306.381356,3.727754,4.325212,2.939619,5.394068,2.842161,47.043432,4.565678,16.331568,0.416314
std,1082.606745,2.677235,1.438436,1.383725,1.269349,2.273337,16.423130,1.599287,5.974781,0.493208
min,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,19.000000,1.000000,1.000000,0.000000
25%,1.000000,1.000000,3.000000,2.000000,5.000000,1.000000,34.000000,3.000000,14.000000,0.000000
50%,22.000000,3.000000,4.000000,3.000000,6.000000,2.000000,44.000000,4.000000,17.000000,0.000000
75%,110.000000,7.000000,6.000000,4.000000,6.000000,5.000000,58.000000,6.000000,21.000000,1.000000
max,7300.000000,7.000000,7.000000,7.000000,7.000000,6.000000,91.000000,7.000000,24.000000,1.000000

### Model

In [8]:
headers = list(dataset.columns.values)
features = headers[:-1]
target = headers[-1]

x_train, x_test, y_train, y_test = train_test_split(dataset[features],dataset[target],test_size = 0.4)
print(x_train.shape, x_test.shape)

(566, 9) (378, 9)

In [10]:
model = LogisticRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.91269841269841268